.sign-form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* border: green solid 5px, */

}

.sign-form button {
    margin: 1rem;
    align-self: center;
    width: 7rem;
}

.cancel-button {
    justify-self: center;
    text-align: center;
}

.cancel-button button {
    width: 7rem; 
}